#fridge .w3-content {
    max-width:1400px;
}

#fridge h1 {
    height: 50px;
    float: left;
    margin: 0;
    padding: 0;
}

#fridge #logout {
    margin-top: 17px;
    margin-left: 17px;
}

#content-box{
    margin-top: 50px;
}

#recipeOption-container {
    width: 550;
    padding: 20px;
    padding-left: 20px;
}

#recipeOption-container>label {
    font-size: 19px;
}

#recipeOption-container #radio-box {
    background-color: rgb(237, 237, 237);
    padding: 20px;
}

#recipeOption-container #radio-group {
    float: left;
}

#recipeOption-container #radio-group label {
    margin-right: 50px;
}

#recipeOption-container button {
    height: 45px;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 15px;
    float: right;
    background-color: rgb(255, 203, 251);
}