#fridge .w3-content {
    max-width:1400px;
}

#fridge h1 {
    height: 50px;
    float: left;
    margin: 0;
    padding: 0;
}

#fridge #logout {
    margin-top: 17px;
    margin-left: 17px;
}

#content-box{
    margin-top: 30px;
}

#fridge-container {
    width: 600px;
    height: 700px;
}

#ingredients-searchBar {
    margin-top: 20px;
}

#ingredients-searchBar .input-group{
    width: 450px;
    margin: auto;
}

.w3-col {
    border: 1px solid blue;
}