#fridge .w3-content {
    max-width:1400px;
}

#fridge h1 {
    height: 50px;
    float: left;
    margin: 0;
    padding: 0;
}

#fridge #logout {
    margin-top: 17px;
    margin-left: 17px;
}

#content-box{
    margin-top: 50px;
}