#ingredientAdd-container, #recipeOption-container {
    width: 550px;
}

#ingredientAdd-container .w3-container {
    padding: 20px;
    padding-left: 45px;
    padding-bottom: 45px;
}

#ingredientAdd-container label {
    font-size: 17px;
    margin-right: 10px;
}

#ingredientAdd-container input {
    width: 320px;
    margin-bottom: 15px;
}

#ingredientAdd-container button {
    float: right;
    margin-top: 30px;
    margin-right: 30px;
}

#ingredientAdd-container #category-input {
    margin-bottom: 15px;
}